@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --grid-step-size: 1rem;

  --interval-0: #111111;
  --interval-1: #a6e22e;
  --interval-2: #5ec962;
  --interval-3: #1f77b4;
  --interval-4: #d7263d;
  --interval-5: #d0d0d0;
  --interval-6: #7a4a2e;
  --interval-7: #ffffff;
  --interval-8: #5a3e85;
  --interval-9: #9b7edb;
  --interval-10: #f2c200;
  --interval-11: #ffe0b8;

  --interval-border-0: var(--interval-0);
  --interval-border-1: var(--interval-1);
  --interval-border-2: var(--interval-2);
  --interval-border-3: var(--interval-3);
  --interval-border-4: var(--interval-4);
  --interval-border-5: var(--interval-5);
  --interval-border-6: var(--interval-6);
  --interval-border-7: #d0d0d0;
  --interval-border-8: var(--interval-8);
  --interval-border-9: var(--interval-9);
  --interval-border-10: var(--interval-10);
  --interval-border-11: var(--interval-11);
}
