@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --grid-step-size: 1rem;

  --interval-0: #111111;
  --interval-1: #859a0f;
  --interval-2: #03d60a;
  --interval-3: #0a7fd8;
  --interval-4: #d7263d;
  --interval-5: #d0d0d0;
  --interval-6: #963701;
  --interval-7: #ffffff;
  --interval-8: #5625a0;
  --interval-9: #cd81fc;
  --interval-10: #fbd849;
  --interval-11: #fcae4e;

  --interval-border-0: var(--interval-0);
  --interval-border-1: var(--interval-1);
  --interval-border-2: var(--interval-2);
  --interval-border-3: var(--interval-3);
  --interval-border-4: var(--interval-4);
  --interval-border-5: var(--interval-5);
  --interval-border-6: var(--interval-6);
  --interval-border-7: #d0d0d0;
  --interval-border-8: var(--interval-8);
  --interval-border-9: var(--interval-9);
  --interval-border-10: var(--interval-10);
  --interval-border-11: var(--interval-11);
}
